<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://dev.mavo.io/dist/mavo.css")
        script(src="https://dev.mavo.io/dist/mavo.min.js")
        link(rel="stylesheet", href="style.css")
        title Task Manager | Kanbanchi Clone
    body
