<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://dev.mavo.io/dist/mavo.css")
		script(src="https://dev.mavo.io/dist/mavo.min.js")
		link(rel="stylesheet", href="style.css")
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
		title Project Manager | Kanbanchi Clone
	body
		main(mv-app="dashboard" mv-storage="local" mv-plugins="markdown" mv-bar="with import export" mv-init="dashboard.json")
			header(class="mv-bar mv-ui") Dashboard
			section(mv-multiple="list")
				aside(class="mv-item-bar")
				header
					h2(property="title")
					span [count(card)]
				main
					article(mv-multiple="card" style="background-color: [color];")
						aside(class="mv-item-bar")
							meta(property="color" mv-edit="#colors" title="Change this card color")

						section
							span(property="colorTag")
							span(property="priority" mv-edit="#priority" title="Priority" data-first-letter="[uppercase(get(priority, 0))]" class="[priority]")
							span(mv-if="count(task) > 0" title="Progress" style="--progress: [progress]") [progress]%

						section
							time(property="startDate" class="[if(!startDate, 'whitespace-no-wrap mv-empty mr-24', 'mr-4')]")
							time(property="dueDate" mv-edit-min="[if(startDate, startDate)]" class="[if(dueDate and dueDate <= $today, 'text-red-600', if(!dueDate, 'whitespace-no-wrap mv-empty'))]")

						p(property="text" class="markdown")

						section(property="todoList")
							meta(property="progress" content="[round(sum(weight where task.done) / sum(weight) * 100)]")
							ul
								li(mv-multiple="task" mv-initial-items="0")
									label
										input(property="done" type="checkbox")
										span(property="title" class="markdown")
									aside(class="mv-item-bar")
										section
											span Weight
											span [weight]
											input(property="weight" type="range" min="1" max="10" mv-default="1")

						span(mv-multiple="tag" mv-initial-items="0")

						section
							span(class="[if(count(task) = 0, 'opacity-0 h-0')]") [count(done)]/[count(task)]
							span(mv-if="startDate and startDate < $today" title="Spent time") [days($today - startDate)]d

		footer
			a(href="https://github.com/DmitrySharabin/project-manager" target="_blank") Fork me on Github

		div(hidden)
			select(id="priority")
				option(value="no") No priority
				option(value="low") Low
				option(value="normal") Normal
				option(value="medium") Medium
				option(value="high") High
				option(value="critical") Critical

		div(hidden)
			select(id="colors")
				option(value="hsl(0, 0%, 100%)" style="background-color: hsl(0, 0%, 100%);")
				option(value="hsl(0, 97%, 85%)" style="background-color: hsl(0, 97%, 85%);")
				option(value="hsl(213, 87%, 88%)" style="background-color: hsl(213, 87%, 88%);")
				option(value="hsl(153, 63%, 74%)" style="background-color: hsl(153, 63%, 74%);")
				option(value="hsl(51, 94%, 75%)" style="background-color: hsl(51, 94%, 75%);")
				option(value="hsl(179, 69%, 79%)" style="background-color: hsl(179, 69%, 79%);")
				option(value="hsl(65, 100%, 63%)" style="background-color: hsl(65, 100%, 63%);")
